@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root {
    --light: #CCCCCC;
    --main: #BBBBBB;
    --accent: #827F7F;
    --dark: #191F26;
  }

body {
    background-color: var(--main) ;
}

h1 {
    color: var(--light) ;
    font-weight: 700;
    text-align: center;
    background-color: var(--dark);
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    border-radius: 1%;
}

.logo-span {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Kanit', sans-serif;
    color: var(--light)
}

a {
  color: var(--dark);
  text-decoration: underline;
}

a:hover{
  background-color: var(--dark);
  color: var(--light);
  text-decoration: none;
  padding: 3px;
  border-radius: 3%;
  transition: 1.2s;
}

button {
  background-color: var(--accent);
  color: var(--dark);
  padding: 5px;
  width: 100px;
  border-radius: 3%;
}

button:hover {
  background-color: var(--dark);
  color: var(--light);
}

.page-header {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--dark);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
  }
  
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  
.navigation-list {
    list-style-type: none;
  }
  
  .navigation-list li {
    display: inline;
    margin: 0 5px;
    font-size: 20px;
  }
  
  .navigation-list a {
    font-family: 'Kanit', sans-serif;    letter-spacing: 1px;
    color: var(--light);
    text-decoration: none;
  }
  
  .navigation-list a:hover {
    font-family: 'Kanit', sans-serif;    letter-spacing: 1px;
    color: var(--accent);
  }

.wrapper {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(250, 250, 250, 0.3);
    border-radius: 1%;
    font-family: 'Noto Sans', sans-serif;    font-size: 20px;
}

.home-pic {
    display: inline;
    float: left;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

.about-pic {
    display: inline;
    float: right;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
}

.extra-img-wrapper {
    display: none;
}

.slideIn {
    display: flex;
    flex-direction: row;
    animation-duration: 4s;
    animation-name: slidein;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.extra-img {
    max-width: 300px;
    margin: 10px;
    padding: 10px;
}

.contact-me {
  display: flex;
  text-align: center;
}

form {
  overflow: hidden;
  width: 1000px;
  margin: 20px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.contact-form {
  font-family: 'Noto Sans', sans-serif;    font-size: 20px;
  font-size: 12px;
  padding: 0 10px 20px 10px;
}

.contact-form label {
  color: var(--dark);
  display: block;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.contact-form input {
  background: var(--main);
  border: 1px solid var(--accent);
  padding: 6px;
  width: 100%;
}

.contact-action {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-action label {
  font-size: 12px;
  float: left;
  margin: 10px 0 0 20px;
}

textarea {
  width: 100%;
  resize: vertical;
}

@media screen and (max-width: 600px) {
    .extra-img {
        width: 130px;
    }

    .navigation-list li {
        display: flex;
        flex-direction: column;
    }
}

@media screen  and (min-width: 600px) and (max-width: 750px) {
  .navigation-list a {
        font-size: 25px;
    }

    .extra-img {
        width: 180px;
    }
    
}

@media screen and (min-width: 750px) and (max-width: 800px) {
    .extra-img {
        width: 225px;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }